
dist
.solid
.output
.vercel
.netlify
.vinxi

# Environment
.env
.env*.local
src/data/brag/private.local.ts

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
